:root {
    /**
    * @tokens Color Primitives
    * @presenter Color
    */
    --ma-primary-100: rgb(238, 244, 246);
    --ma-primary-200: rgb(207, 228, 237);
    --ma-primary-300: rgb(156, 210, 232);
    --ma-primary-400: rgb(98, 177, 208);
    --ma-primary-500: rgb(39, 154, 200);
    --ma-primary-600: rgb(29, 130, 170);
    --ma-primary-700: rgb(26, 104, 135);
    --ma-primary-800: rgb(17, 85, 112);
    --ma-primary-900: rgb(7, 52, 70);

    --blue-50: #eaf5fd;
    --blue-100: #bfe2f7;
    --blue-200: #92cef0;
    --blue-300: #62bae7;
    --blue-400: #21a7d9;
    --blue-500: #0092c8;
    --blue-600: #007eb3;
    --blue-700: #00699a;
    --blue-800: #00557f;
    --blue-900: #004061;
    --blue-950: #002d42;
    --blue-source: #279ac8;

    --red-50: #ffede5;
    --red-100: #ffc9b4;
    --red-200: #ffa486;
    --red-300: #ff7f5e;
    --red-400: #ff5b3b;
    --red-500: #ff351e;
    --red-600: #e60104;
    --red-700: #c70000;
    --red-800: #a40000;
    --red-900: #7f0000;
    --red-950: #580300;
    --red-source: #fb5538;

    --ma-grey-100: rgb(250, 250, 250);
    --ma-grey-200: rgb(239, 243, 244);
    --ma-grey-300: rgb(235, 239, 240);
    --ma-grey-400: rgb(222, 228, 229);
    --ma-grey-500: rgb(176, 192, 196);
    --ma-grey-600: rgb(133, 157, 163);
    --ma-grey-700: rgb(106, 127, 132);
    --ma-grey-800: rgb(88, 102, 106);
    --ma-grey-900: rgb(57, 80, 85);

    --ma-green-50: rgb(246, 251, 234);
    --ma-green-100: rgb(234, 246, 209);
    --ma-green-200: rgb(215, 238, 168);
    --ma-green-300: rgb(187, 225, 117);
    --ma-green-400: rgb(160, 209, 74);
    --ma-green-500: rgb(140, 198, 47);
    --ma-green-600: rgb(99, 145, 31);
    --ma-green-700: rgb(76, 111, 28);
    --ma-green-800: rgb(63, 89, 27);
    --ma-green-900: rgb(54, 76, 27);
    --ma-green-950: rgb(26, 41, 10);

    --ma-yellow-100: rgb(254, 243, 199);
    --ma-yellow-200: rgb(253, 230, 138);
    --ma-yellow-300: rgb(252, 211, 77);
    --ma-yellow-400: rgb(251, 191, 36);
    --ma-yellow-500: rgb(245, 158, 11);
    --ma-yellow-600: rgb(217, 119, 6);
    --ma-yellow-700: rgb(180, 83, 9);
    --ma-yellow-800: rgb(146, 64, 14);
    --ma-yellow-900: rgb(120, 53, 15);

    --ma-red-50: rgb(255, 242, 240);
    --ma-red-100: rgb(255, 229, 224);
    --ma-red-200: rgb(255, 206, 198);
    --ma-red-300: rgb(255, 173, 159);
    --ma-red-400: rgb(255, 126, 104);
    --ma-red-500: rgb(251, 85, 56);
    --ma-red-600: rgb(216, 50, 21);
    --ma-red-700: rgb(196, 44, 17);
    --ma-red-800: rgb(162, 39, 18);
    --ma-red-900: rgb(134, 39, 22);
    --ma-red-950: rgb(73, 16, 6);

    --ma-white: #fff;

 

    /**
    * @tokens-end
    */

    /**
    * @tokens Color Semantics
    * @presenter Color
    */

    --ma-warning: var(--ma-yellow-400);
    --ma-warning-new: #D97706;

    --ma-danger: var(--ma-red-600);
    --ma-danger-disabled: var(--ma-red-200)
    --ma-danger-hover: rgb(242, 139, 121);

    --ma-failure: #d83314;
    --ma-failure-hover: #e05c43;
    --ma-failure-light: #f5cec6;

    --bg-maincontent: var(--ma-white);
    --bg-page-header: var(--ma-white);

    --ma-text-01: rgb(18, 53, 61);
    --ma-text-02: rgb(86, 103, 107);
    --ma-text-03: rgb(138, 151, 154);

    --toolbar-btn-bg-hover: var(--ma-grey-500);

    --dashboard-border-color: var(--ma-grey-400);
    --dashboard-header-border-color: var(--ma-grey-400);
    --dashboard-header-bg: linear-gradient(to bottom, var(--ma-grey-200), var(--ma-grey-300));
    --dashboard-item-border-color: var(--ma-grey-200);
    --dashboard-footer-border-color: var(--ma-grey-200);

    --group-detail-background-color: var(--ma-primary-100);
    --group-row-bg-hover: var(--ma-grey-200);

    --form-select-bg: var(--ma-grey-100);

    --twisty-trigger-bg: var(--ma-grey-200);
    --twisty-content-border: var(--ma-grey-200);

    --ghost-hover-border-color: var(--ma-grey-500);

    /**
    * @tokens-end
    */

    /**
    * @tokens CSS Icons
    * @presenter Color
    */

    --select-chevron: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjMTEzNTNkIiBkPSJNNC4yNTEgMTgxLjFDNy4zOTIgMTc3LjcgMTEuNjkgMTc1LjEgMTYgMTc1LjFjMy44OTEgMCA3Ljc4MSAxLjQwNiAxMC44NiA0LjI1bDE5Ny4xIDE4MS4xbDE5Ny4xLTE4MS4xYzYuNS02IDE2LjY0LTUuNjI1IDIyLjYxIC45MDYyYzYgNi41IDUuNTk0IDE2LjU5LS44OTA2IDIyLjU5bC0yMDggMTkyYy02LjE1NiA1LjY4OC0xNS41NiA1LjY4OC0yMS43MiAwbC0yMDgtMTkyQy0xLjM0MyAxOTcuNy0xLjc0OSAxODcuNiA0LjI1MSAxODEuMXoiLz48L3N2Zz4=");

    /**
    * @tokens-end
    */

}

.dark-mode {

    --ma-primary-100: rgb(29, 130, 170);
    --ma-primary-200: rgb(68, 143, 179);
    --ma-primary-300: rgb(96, 157, 189);
    --ma-primary-400: rgb(120, 170, 198);
    --ma-primary-500: rgb(143, 184, 207);
    --ma-primary-600: rgb(166, 198, 217);
    --ma-primary-700: rgb(188, 212, 226);
    --ma-primary-800: rgb(211, 226, 236);
    --ma-primary-900: rgb(233, 240, 245);

    --ma-grey-100: rgb(27, 38, 45);
    --ma-grey-200: rgb(48, 58, 65);
    --ma-grey-300: rgb(71, 80, 86);
    --ma-grey-400: rgb(95, 103, 108);
    --ma-grey-500: rgb(119, 126, 131);
    --ma-grey-600: rgb(145, 151, 154);
    --ma-grey-700: rgb(149, 154, 158);
    --ma-grey-800: rgb(183, 187, 189);
    --ma-grey-900: rgb(218, 220, 222);

    --ma-green-50: rgb(26, 41, 10);
    --ma-green-100: rgb(54, 76, 27);
    --ma-green-200: rgb(63, 89, 27);
    --ma-green-300: rgb(76, 111, 28);
    --ma-green-400: rgb(99, 145, 31);
    --ma-green-500: rgb(140, 198, 47);
    --ma-green-600: rgb(160, 209, 74);
    --ma-green-700: rgb(187, 225, 117);
    --ma-green-800: rgb(215, 238, 168);
    --ma-green-900: rgb(234, 246, 209);
    --ma-green-950: rgb(246, 251, 234);

    --ma-text-01: rgb(218, 223, 225);
    --ma-text-02: rgb(148, 162, 166);
    --ma-text-03: rgb(82, 105, 111);

    --ma-white: var(--ma-grey-200);
    
    --ma-warning: var(--ma-yellow-700);
    --ma-warning-new: #FFEB9A;

    --bg-maincontent: var(--ma-white);
    --bg-page-header: var(--ma-white);

    --toolbar-btn-bg-hover: var(--ma-grey-100);

    --dashboard-border-color: var(--ma-grey-300);
    --dashboard-header-border-color: var(--ma-grey-400);
    --dashboard-header-bg: linear-gradient(to bottom, var(--ma-grey-200), var(--ma-grey-300));
    --dashboard-item-border-color: var(--ma-grey-300);
    --dashboard-footer-border-color: var(--ma-grey-300);

    --group-detail-background-color: color-mix(in srgb, var(--ma-grey-200) 95%, white);
    --group-row-bg-hover: var(--ma-grey-300);

    --form-select-bg: var(--ma-grey-300);
    --select-chevron: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNC4yNTEgMTgxLjFDNy4zOTIgMTc3LjcgMTEuNjkgMTc1LjEgMTYgMTc1LjFjMy44OTEgMCA3Ljc4MSAxLjQwNiAxMC44NiA0LjI1bDE5Ny4xIDE4MS4xbDE5Ny4xLTE4MS4xYzYuNS02IDE2LjY0LTUuNjI1IDIyLjYxIC45MDYyYzYgNi41IDUuNTk0IDE2LjU5LS44OTA2IDIyLjU5bC0yMDggMTkyYy02LjE1NiA1LjY4OC0xNS41NiA1LjY4OC0yMS43MiAwbC0yMDgtMTkyQy0xLjM0MyAxOTcuNy0xLjc0OSAxODcuNiA0LjI1MSAxODEuMXoiLz48L3N2Zz4=");

    --twisty-trigger-bg: var(--ma-grey-300);
    --twisty-content-border: var(--ma-grey-300);

    --breadcrumb-arrow-bg: var(--ma-grey-200);
    --breadcrumb-arrow-color: var(--ma-grey-500);

    --ghost-hover-border-color: transparent;

}

.dark-mode.q-dark-new-color-scheme {
    --ma-white: #161B1C !important;
    --bg-maincontent: var(--ma-white);
    --bg-page-header: var(--ma-white);
}


