name: Changelog

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Changelog
        uses: orhun/git-cliff-action@v4
        with:
          config: cliff.toml
          args: --verbose
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}

      - name: Commit Changes
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add CHANGELOG.md
          git commit -m "chore(release): update changelog" || echo "No changes to commit"

      - name: Push Changes to Branch
        run: |
          git checkout -b update-changelog-branch
          git push --set-upstream origin update-changelog-branch

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          title: 'chore(release): update changelog'
          body: 'This PR updates the changelog based on the latest changes.'
          head: update-changelog-branch
          base: main
