# Should probably be multiple jobs, but for now this is fine
name: Linting, Formatting, Tests

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run ESLint
        run: yarn lint:check

      - name: Run Prettier
        run: yarn format:check

      - name: Run Tests
        run: yarn test:run
